.bg{
	border: solid 1px #ccc;
	
}
.top{
	text-align:center;
}
.menu{
	width:100%;
	
	margin-top:20px;
}
.font_left{
	height:100px !important;
	line-height:80px !important;
}
.font{
	width:135px !important;
	
}
.text{
	display:inline-block !important; 
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	height:auto;
	white-space: pre-line;
}
#big{
	display:inline-block !important;
	position:relative;	
}
.btn{
	margin-top:20px;
}
.demo{
	padding-left:30px;
}

/*水平翻转*/
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}

/*滑块*/
.y_d{
	position:relative;
}
.y_hk{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
	
}
