.bg{
	border: solid 1px #ccc;
	
}
.top{
	text-align:center;
}
.menu{
	width:50%;
	margin-left:25%;
	margin-top:20px;
}
.font_left{
	height:100px !important;
	line-height:80px !important;
}
.font{
	width:135px !important;
	
}
.text{
	display:inline-block !important; 
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	white-space: pre-line;
}
#big{
	display:inline-block !important;
	position:relative;	
}
.btn{
	margin-top:20px;
}
.demo{
	padding-left:30px;
}
._text {
    
     text-align: left;
     position: absolute;
     top: 0; 
     left: 0; 
     z-index: -9999; 
    white-space: pre-line; 
}