<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="kumaomao" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>斗图</title>
	<link rel="stylesheet" href="./layui/css/layui.css">
	<link rel="stylesheet" href="./css/image.css">
	<link rel="stylesheet" href="./css/jquery.minicolors.css">
</head>

<body>
<div class="layui-container" id="app">
	<div class="layui-row">
		<div class="layui-col-xs12  top">
			
			<div :class="{img:true,'layui-col-xs8':true,'layui-col-xs-offset2':true,'layui-col-md4':true,'layui-col-md-offset4':true,bg:true}" id="big" :style="{background:background}" ref="myImgDiv">
				 <img :class="{flipx:isFlipx,'layui-col-xs12':true}" ref="myImg" :src="imgUrl"/>
			  <p v-html="msg" ref="myMsg" @mousedown="down(event)" @touchstart="m_down(event)" v-bind:style="{fontSize:size+'px',color:color}"  class="text">
					
			  </p>
			
			</div>
			
			
			<div  :class="{'layui-col-xs2':true,'layui-col-md4':true}" v-show="isShow" style="height:200px;">
				
				<input class="y_hk" type="range" min="0" @input="changeY"  v-model="y" :max="height" value="0" :style="{'width':imgHeight+'px','position':'absolute','left':-((imgHeight-21)/2)+'px','top':((imgHeight-21)/2)+'px'}">	 
			
			</div>
			
		  
	
		</div>
		<div v-show="isShow" :class="{'layui-col-xs8':true,'layui-col-xs-offset2':true,'layui-col-md4':true,'layui-col-md-offset4':true}" >
			<input type="range" value="0" min="0" @input="changeX"  v-model="x" :max="width" style="width:100%;">
			
		</div>
		<div class="layui-col-xs12">
			<div class=" menu">
				<form class="layui-form layui-form-pane" action="">
					<div class="layui-form-item layui-col-xs12">
							<label class="layui-form-label font_left layui-col-xs4">输入内容</label>
							<div class="layui-input-block">
								<textarea name="desc" v-model="msg"  @input="changeMsg" placeholder="请输入内容" class="layui-textarea"></textarea>
							</div>	
					</div>
					<div class="layui-collapse">
					  <div class="layui-colla-item">
						<h2 class="layui-colla-title">更多选项</h2>
						<div class="layui-colla-content ">
							
						
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">选择字体</label>
									<div class="layui-input-inline font">
									  <select name="face" lay-filter="face" >
										<option value="img">老子还没做</option>
										
									  </select>
									</div>
								</div>	
								<div class="layui-inline">
									<label class="layui-form-label">字体大小</label>
									<div class="layui-input-inline font">
									  <input type="text" name="size" v-model="size" placeholder="请输入字体大小" lay-verify="number" autocomplete="off" class="layui-input">
									</div>
								</div>									
							</div>
							
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">选择颜色</label>
									<div class="layui-input-inline font">
									  <input type="text" name="color"  id="hue-demo" class="demo layui-input" data-control="hue" autocomplete="off" v-model="color">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">图片方向</label>
									<div class="layui-input-inline font">
									  <select name="flip" lay-filter="flip">
										<option value="0" selected="">系统默认</option>
										<option value="1" >左右翻转</option>
									  </select>
									</div>
								</div>								
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">图片框高度</label>
									<div class="layui-input-inline font">
									  <input type="text" name="height" v-model="addheight" @input="updateHeight" placeholder="请输入增加数值" lay-verify="number" autocomplete="off" class="layui-input">
									</div>
								</div>	
														
							</div>
							
							
						</div>
					  </div>
					</div>
					
					
					
				</form>
				 <button class="layui-btn btn" type="button" @click="makeImg">生成图片</button>
				 <button type="button " class="layui-btn btn layui-btn-warm" id="upload">上传图片</button>
					<a href="./index.html" class="layui-btn btn  layui-btn-danger">返回首页</a>
				<div id="img" style="margin-top:20px;" class="layui-col-xs12 layui-col-md12">
				</div>
		  </div>
		</div>
		
		
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./js/jquery.minicolors.js"></script>
<script src="./js/html2canvas.min.js"></script>

<script src="./js/image.js"></script>

</body>
</html>